<link rel="stylesheet" href="/css/landing.css" type="text/css" />

<!-- This section displays the landing page -->
<section class="landing-Page">
  <div class="landing-container">
    <p>CSV-Explorer</p>
    <img src="https://www.fundrecs.com/hubfs/CSV.png" alt="file" />
    <a href="/upload" class="land-btn"
      ><button>Let's Explore<i class="fa fa-arrow-right"></i></button
    ></a>
  </div>
</section>
